{% extends "base.html.twig" %}

{% block title %}Deck{% endblock %}

{% block main %}

<main class="main">
    <h1>{{ title }}</h1>
    <div id="card-container">
        <div id="card-container1">
            <ul id="cardgame-list">
                <li><i><a href="{{ path('card') }}">Landing page</a></i></li>
                <li><a href="{{ path('card-deck') }}">Get a new deck</a></li>
                <li><a href="{{ path('card-deck-shuffle') }}">Shuffle deck</a></li>
                <li><a href="{{ path('card-deck-draw') }}">Draw one card</a></li>
                <li><a href="{{ path('card-deck-draw-many', {'num': 5}) }}">Draw several cards</a></li>
            </ul>
        </div>

        <div class="card-container" id="card-container2">
            {% for card in deck %}
                <li class="card">{{ card.mark }}{{ card.value }}</li>
            {% endfor %}
        </div>
    </div>
</main> 

{% endblock %}
