<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        <link rel="icon" href="{{ asset('img/mvc_logo.png') }}">

        <link rel="stylesheet" href="{{ asset("scss/style.css") }}"/>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header class="site-header" style="background-image: url({{ asset('img/me.jpg') }})">
            <span class="site-title">MVC - Object oriented PHP</span>
        </header>
        <nav class="site-nav">
            <ul>
                <li><a href="{{ path('home') }}">Home</a></li>
                <li><a href="{{ path('about') }}">About</a></li>
                <li><a href="{{ path('library') }}">Library</a></li>
                <li><a href="{{ path('lucky') }}">Lucky</a></li>
                <li><a href="{{ path('card') }}">Card</a></li>
                <li><a href="{{ path('api') }}">API</a></li>
                <li><a href="{{ path('game') }}">Game</a></li>
                <li><a href="{{ path('report') }}">Report</a></li>
            </ul>
        </nav>

        <main>
            {% block main %}
            {% endblock %}
        </main>

        <footer class="site-footer">
            {% block footer %}©2023 TOMOKO{% endblock %}
        </footer>
    </body>
</html>
 