{% extends "project/base.html.twig" %}

{% block title %}Home{% endblock %}

{% block main %}

<body>
    <h1 id="project-title">CLOUD SOLUTION</h1>
    <img src="img/cloud.png" width="600px">
    <p>In the ever-evolving landscape of cloud computing, choosing the right cloud service provider is pivotal for businesses aiming to leverage the power of the cloud. Amazon Web Services (AWS), Microsoft Azure, and Google Cloud Platform (GCP) are three major players, each offering a plethora of solutions tailored to diverse organizational needs. As organizations increasingly migrate their operations to the cloud, the decision-making process surrounding cloud service providers becomes both critical and complex.<p>

    <h2>Comparison</h2>
        <table>
                <th>
                    <td><img src="img/aws.png" width="100px"></td>
                    <td><img src="img/azure.png" width="100px"></td>
                    <td><img src="img/gcp.png" width="100px"></td>
                </th>

                <tr>
                    <td>Owner</td>
                    <td>{{ aws.owner }}</td>
                    <td>{{ azure.owner }}</td>
                    <td>{{ gcp.owner }}</td>
                </tr>
                <tr>
                    <td>Launched year</td>
                    <td>{{ aws.launch }}</td>
                    <td>{{ azure.launch }}</td>
                    <td>{{ gcp.launch }}</td>
                </tr>
                <tr>
                    <td>Market share</td>
                    <td>{{ aws.share }}%</td>
                    <td>{{ azure.share }}%</td>
                    <td>{{ gcp.share }}%</td>
                </tr>
                <tr>
                    <td>Revenue</td>
                    <td>${{ aws.revenue }}billion</td>
                    <td>${{ azure.revenue }}billion</td>
                    <td>${{ gcp.revenue }}billion</td>
                </tr>
                <tr>
                    <td>File storage</td>
                    <td>{{ aws.storage }}</td>
                    <td>{{ azure.storage }}</td>
                    <td>{{ gcp.storage }}</td>
                </tr>
                <tr>
                    <td>Virtual network</td>
                    <td>{{ aws.vn }}</td>
                    <td>{{ azure.vn }}</td>
                    <td>{{ gcp.vn }}</td>
                </tr>
                <tr>
                    <td>API</td>
                    <td>{{ aws.api }}</td>
                    <td>{{ azure.api }}</td>
                    <td>{{ gcp.api }}</td>
                </tr>
        </table>
        <p>This table provides a comprehensive comparison of three major cloud service providers. AWS is the industry pioneer, offers a comprehensive suite of services tailored to diverse business needs. Its robust infrastructure and extensive tools make it a top choice for established enterprises. Azure making it a favorite for businesses deeply rooted in Microsoft technologies. Its user-friendly interface simplifies cloud management, attracting newcomers and tech veterans alike. GCP stands out for its user-friendly approach and flexibility. It encourages experimentation and innovation, making it an excellent option for beginners and creative minds looking to explore the cloud's potential.</p>

    <h2>Market Share</h2>
        <img src="img/marketshare.png" width="600px">
        <p>AWS, Azure and GCP saw their aggregate share of the total market increase to about 66 percent, up from 63 percent a year ago. According to Synergy Research Group, cloud market is almost dominated by those three-player everywhere outside China.</p>


    <h2>Regions and Availability</h2>
        <a href="https://www.atomia.com/2016/11/24/comparing-the-geographical-coverage-of-aws-azure-and-google-cloud/">
            <img src="img/datacenter.png" width="1000px">
        </a>
        <p>AWS has 66 availability zones with 12 more on the way. Azure has 54 regions worldwide and is available in 140 countries. GCP has been made available in 20 regions around the world with 3 more on the way. They also have 173 network edge locations, available in over 200 countries.</p>

</body>


{% endblock %}